body { 
  font-family: Arial, sans-serif; 
  background:#eef2f7; 
  margin:0; 
}

.center { 
  display:flex; 
  justify-content:center; 
  align-items:center; 
  height:100vh;
}

.card { 
  background:white; 
  padding:25px; 
  border-radius:8px; 
  width:300px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input, button { 
  width:100%; 
  padding:8px; 
  margin:5px 0;
}

button { 
  background:#2980b9; 
  color:white; 
  border:none; 
  cursor:pointer;
}

button:hover {
  background:#1f6391;
  }
